<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Favicon icon-->

<!-- Libs CSS -->
<link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">
<link th:href="@{/css/dropzone.css}" rel="stylesheet">
<link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
<link th:href="@{/css/prism-okaidia.css}" rel="stylesheet">



<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.min.css}">
    <title>Emp</title>
  </head>

  <body class="bg-light">
    <div id="db-wrapper">
      <!-- navbar vertical -->
       <!-- Sidebar -->
		<div th:insert="~{index::sidebar}"></div>


       <!-- Page content -->
      <div id="page-content">
        <div class="header @@classList">
  <!-- navbar -->
<div th:insert="~{index::topbar}"></div>

</div>
        <!-- Container fluid -->
        <div class="bg-primary pt-10 pb-21"></div>
        <div class="container-fluid mt-n22 px-6">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="mb-2 mb-lg-0">
                    <h3 class="mb-0  text-white">Projects</h3>
                  </div>
                  <div>
                    <a href="#" class="btn btn-white">Create New Project</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
		  
          <!-- row  -->
          <div class="row mt-6">
            <div class="col-md-12 col-12">
              <!-- card  -->
              <div class="card">
                <!-- card header  -->
                <div class="card-header bg-white  py-4">
                  <h4 class="mb-0">Active Projects</h4>
                </div>
                <!-- table  -->
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0">
                    <thead class="table-light">
                      <tr>
                        <th>Project name</th>
                        <th>Hours</th>
                        <th>priority</th>
                        <th>Members</th>
                        <th>Progress</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="align-middle"><div class="d-flex
                            align-items-center">
                            <div>
                              <div class="icon-shape icon-md border p-4
                                rounded-1">
                                <img th:src="@{/picture/dropbox-logo.svg}" alt="">
                              </div>
                            </div>
                            <div class="ms-3 lh-1">
                              <h5 class=" mb-1"> <a href="#" class="text-inherit">Dropbox Design
                                  System</a></h5>

                            </div>
                          </div></td>
                        <td class="align-middle">34</td>
                        <td class="align-middle"><span class="badge
                            bg-warning">Medium</span></td>
                        <td class="align-middle"><div class="avatar-group">
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-1.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-2.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-3.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm avatar-primary">
                              <span class="avatar-initials rounded-circle
                                fs-6">+5</span>
                            </span>
                          </div></td>
                        <td class="align-middle text-dark"><div class="float-start me-3">15%</div>
                          <div class="mt-2">
                            <div class="progress" style="height: 5px;">
                              <div class="progress-bar" role="progressbar" style="width:15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="align-middle"><div class="d-flex
                            align-items-center">
                            <div>
                              <div class="icon-shape icon-md border p-4
                                rounded-1">
                                <img th:src="@{/picture/slack-logo.svg}" alt="">
                              </div>
                            </div>
                            <div class="ms-3 lh-1">
                              <h5 class=" mb-1"> <a href="#" class="text-inherit">Slack Team UI Design</a></h5>
                            </div>
                          </div></td>
                        <td class="align-middle">47</td>
                        <td class="align-middle"><span class="badge
                            bg-danger">High</span></td>
                        <td class="align-middle"><div class="avatar-group">
                            <span class="avatar avatar-sm">
                              <img alt="avatar" src="static/picture/avatar-4.jpg" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-5.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-6.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm avatar-primary">
                              <span class="avatar-initials rounded-circle
                                fs-6">+5</span>
                            </span>
                          </div></td>
                        <td class="align-middle text-dark"><div class="float-start me-3">35%</div>
                          <div class="mt-2">
                            <div class="progress" style="height: 5px;">
                              <div class="progress-bar" role="progressbar" style="width:35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="align-middle"><div class="d-flex
                            align-items-center">
                            <div>
                              <div class="icon-shape icon-md border p-4
                                rounded-1">
                                <img th:src="@{/picture/github-logo.svg}" alt="">
                              </div>
                            </div>
                            <div class="ms-3 lh-1">
                              <h5 class=" mb-1"> <a href="#" class="text-inherit">GitHub Satellite</a></h5>
                            </div>
                          </div></td>
                        <td class="align-middle">120</td>
                        <td class="align-middle"><span class="badge bg-info">Low</span></td>
                        <td class="align-middle"><div class="avatar-group">
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-7.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-8.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-9.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm avatar-primary">
                              <span class="avatar-initials rounded-circle
                                fs-6">+1</span>
                            </span>
                          </div></td>
                        <td class="align-middle text-dark"><div class="float-start me-3">75%</div>
                          <div class="mt-2">
                            <div class="progress" style="height: 5px;">
                              <div class="progress-bar" role="progressbar" style="width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="align-middle"><div class="d-flex
                            align-items-center">
                            <div>
                              <div class="icon-shape icon-md border p-4
                                rounded-1">
                                <img th:src="@{/picture/3dsmax-logo.svg}" alt="">
                              </div>
                            </div>
                            <div class="ms-3 lh-1">
                              <h5 class=" mb-1"> <a href="#" class="text-inherit">3D Character Modelling</a></h5>
                            </div>
                          </div></td>
                        <td class="align-middle">89</td>
                        <td class="align-middle"><span class="badge
                            bg-warning">Medium</span></td>
                        <td class="align-middle"><div class="avatar-group">
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-10.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-11.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-12.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm avatar-primary">
                              <span class="avatar-initials rounded-circle
                                fs-6">+5</span>
                            </span>
                          </div></td>
                        <td class="align-middle text-dark"><div class="float-start me-3">63%</div>
                          <div class="mt-2">
                            <div class="progress" style="height: 5px;">
                              <div class="progress-bar" role="progressbar" style="width:63%" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="align-middle"><div class="d-flex
                            align-items-center">
                            <div>
                              <div class="icon-shape icon-md border p-4 rounded
                                bg-primary">
                                <img th:src="@{/picture/layers-logo.svg}" alt="">
                              </div>
                            </div>
                            <div class="ms-3 lh-1">
                              <h5 class=" mb-1"> <a href="#" class="text-inherit">Webapp Design System</a>
                              </h5>
                            </div>
                          </div></td>
                        <td class="align-middle">108</td>
                        <td class="align-middle"><span class="badge
                            bg-success">Track</span></td>
                        <td class="align-middle"><div class="avatar-group">
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-13.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-14.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm">
                              <img alt="avatar" th:src="@{/picture/avatar-15.jpg}" class="rounded-circle">
                            </span>
                            <span class="avatar avatar-sm avatar-primary">
                              <span class="avatar-initials rounded-circle
                                fs-6">+5</span>
                            </span>
                          </div></td>
                        <td class="align-middle text-dark"><div class="float-start me-3">100%</div>
                          <div class="mt-2">
                            <div class="progress" style="height: 5px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- card footer  -->
                <div class="card-footer bg-white text-center">
                  <a href="#" class="link-primary">View All Projects</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
			

    <!-- Scripts -->
    <!-- Libs JS -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/prism.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/dropzone.min.js}"></script>
<script th:src="@{/js/prism-toolbar.min.js}"></script>
<script th:src="@{/js/prism-copy-to-clipboard.min.js}"></script>


<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>
    
  	
</body>

</html>